<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="DBConnectionString" value="Data Source=ISD-PK1M61V\SQLEXPRESS2014;Initial Catalog=Mentoring;Integrated Security=True"/>
    <!--<add key="DBConnectionString" value="Data Source=I.;Initial Catalog=Mentoring;Integrated Security=True"/>-->
    <add key="aspnet:MaxHttpCollectionKeys" value="100000" />
  </appSettings>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="BasicHttpBinding_IWCFCustomer" />
                        <binding name="BasicHttpBinding_IWCFTransactions" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:49387/WCFCustomer.svc" binding="basicHttpBinding"
                        bindingConfiguration="BasicHttpBinding_IWCFCustomer" contract="CustomerService.IWCFCustomer"
                        name="BasicHttpBinding_IWCFCustomer" />
                <endpoint address="http://localhost:49387/WCFTransactions.svc"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFTransactions"
                        contract="TransactionsService.IWCFTransactions" name="BasicHttpBinding_IWCFTransactions" />
        </client>
    </system.serviceModel>
</configuration>