<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="DBConnectionString" value="Data Source=ISD-PK1M61V\SQLEXPRESS2014;Initial Catalog=Mentoring;Integrated Security=True"/>
    <!--<add key="DBConnectionString" value="Data Source=I.;Initial Catalog=Mentoring;Integrated Security=True"/>-->
    <add key="aspnet:MaxHttpCollectionKeys" value="100000" />
  </appSettings>
<system.serviceModel>
        <behaviors>
          <serviceBehaviors>
            <behavior name="">
              <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
              <serviceDebug includeExceptionDetailInFaults="false" />
            </behavior>
          </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
        <bindings>
                <basicHttpBinding>
                        <binding name="BasicHttpBinding_IWCFCustomer" />
                        <binding name="BasicHttpBinding_IWCFTransactions" />
                </basicHttpBinding>
                <webHttpBinding>
                        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                </webHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:52090/WCFCustomer.svc" binding="basicHttpBinding"
                        bindingConfiguration="BasicHttpBinding_IWCFCustomer" contract="SRCustomer.IWCFCustomer"
                        name="BasicHttpBinding_IWCFCustomer" />
                <endpoint address="http://localhost:52090/WCFTransactions.svc"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFTransactions"
                        contract="SRTransactions.IWCFTransactions" name="BasicHttpBinding_IWCFTransactions" />
        </client>  
    </system.serviceModel>
</configuration>